/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  
  /* same set of background images as main pages, also scale with window size in exactly the same way */
  background: url('../../images/HollySigned.png') fixed, url('../../images/BackgroundMLCVersion2Pones1.png') fixed, url('../../images/BackgroundMLCVersion2Pones2Red.png') fixed, url('../../images/BackgroundMLCVersion2FireWorks.png') fixed;
		background-size: auto, 25.3%, 20.7%, 100%;
	    background-repeat: no-repeat;
	    background-position: 100% 100%, bottom left, top right, center top;
	    border-top: none;
		padding: 0;
        background-color: #072847;
  
}

.icon {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

.icon-offline {
  content: -webkit-image-set( url(assets/default_100_percent/100-error-offline.png) 1x, url(assets/default_200_percent/200-error-offline.png) 2x);
  position: relative;
}

.hidden {
  display: none;
}


/* Offline page */

.offline .interstitial-wrapper {
  #background-color: black;
  font-size: 1.3em;
  line-height: 1.55;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 1%;
  width: 100%;
  
 /* similar styling to main header, but with white background */ 
  
    #position: fixed;
		#top: 5em;
		#left: 0;
		z-index: 1000;
		#height: 3.25em;
		#line-height: 3.25em;
		#text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		#font-weight: 700;
		#text-transform: uppercase;
		cursor: default;
		padding: 4.5em 1em 1em 1em;
  
    #display: inline-block;
			border-radius: 0.35em;
			background-color: rgba(255, 255, 255, 0.925);
			box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
			#padding: 2 1em 2 1em;
			position: center;
			width: 100%;
  
}

.offline .runner-container {
  height: 150px;
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 1em;
  width: 44px;
}

.offline .runner-canvas {
  height: 150px;
  max-width: 600px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  #top: 1em;
  z-index: 2;
}

.offline .controller {
  background: rgba(247, 247, 247, .1);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#offline-resources {
  display: none;
}

@media (max-width: 420px) {
  .suggested-left > #control-buttons, .suggested-right > #control-buttons {
    float: none;
  }
  .snackbar {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-height: 350px) {
  h1 {
    margin: 0 0 15px;
  }
  .icon-offline {
    margin: 0 0 10px;
  }
  .interstitial-wrapper {
    margin-top: 5%;
  }
  .nav-wrapper {
    margin-top: 30px;
  }
}

@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
  .offline .interstitial-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 420px) and (max-width: 736px) and (min-height: 240px) and (max-height: 420px) and (orientation:landscape) {
  .interstitial-wrapper {
    margin-bottom: 100px;
  }
}

@media (min-height: 240px) and (orientation: landscape) {
  .offline .interstitial-wrapper {
    margin-bottom: 90px;
  }
  .icon-offline {
    margin-bottom: 20px;
  }
}

@media (max-height: 320px) and (orientation: landscape) {
  .icon-offline {
    margin-bottom: 0;
  }
  .offline .runner-container {
    top: 10px;
  }
}

@media (max-width: 240px) {
  .interstitial-wrapper {
    overflow: inherit;
    padding: 0 8px;
  }
}